p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-white-color);
  font-family: DM Sans, sans-serif;
  letter-spacing: 0.04em;
}

:root {
  --primary-white-color: #ffffff;
  --title-text-color: #ffa5ba;
  --accent-color: #d41443;
  --primary-text-color: #000000;
  --text-color: #907e82;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;
  transform: translateX(100%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 30;
}

.menu.is-open {
  transform: translateX(0);
}

.menu__button_open {
  z-index: 1;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1199px) {
  .menu__button_open {
    display: none;
  }
}

.menu__button_close {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 23px;
  right: 28px;
}

.menu__item {
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 21px;
  padding-right: 127px;
  border-top: 1px solid #E18298;
  border-bottom: 1px solid #E18298;
}

.menu__button {
  margin: auto;
  min-width: 209px;
  height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 19px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 22px;
}

.menu__box {
  padding-top: 60px;
}

.menu__link {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
}

.header__container {
  background-color: #FFB8CA;
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 37px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    padding-right: 115px;
    padding-left: 46px;
  }
}

.header__box {
  display: flex;
}

.header-list {
  z-index: 1;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .header-list {
    display: none;
  }
}

.header__item {
  margin-right: 35px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__button {
  min-width: 160px;
  max-height: 44px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__button {
    margin-left: 110px;
  }
}

.button {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border-radius: 20px;
  border: transparent;
}

.current {
  color: var(--accent-color);
}

.hero__container {
  height: 445px;
  position: relative;
  background-color: #FFB8CA;
  padding-top: 27px;
}

@media screen and (min-width: 768px) {
  .hero__container {
    height: 300px;
    padding-top: 30px;
    padding-right: 34px;
    padding-left: 34px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    height: 575px;
    padding-top: 85px;
    padding-right: 115px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-hero {
    display: none;
  }
}

.mobile-hero__ellipse {
  padding-left: 36px;
  overflow: hidden;
}

.hero {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero {
    display: block;
  }
}

#circle {
  height: 344px;
  width: 346px;
  border-radius: 50%;
  background-color: var(--title-text-color);
}

@media screen and (min-width: 767px) {
  #circle {
    height: 322px;
    width: 324px;
  }
}

@media screen and (min-width: 1200px) {
  #circle {
    height: 538px;
    width: 538px;
  }
}

.hero__title {
  width: 218px;
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 277px;
    font-size: 38px;
    line-height: 1.6;
  }
}

.hero__title_part {
  color: var(--accent-color);
}

.mobile-hero__button {
  min-width: 62.4px;
  min-height: 24px;
  font-weight: 500;
  font-size: 8px;
  line-height: 1.25;
}

@media screen and (min-width: 1200px) {
  .mobile-hero__button {
    min-width: 102px;
    min-height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
  }
}

.mobile-hero__button_red {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.mobile-hero__box {
  position: absolute;
  z-index: 3;
  left: 5%;
  top: 58%;
}

.mobile-hero__picture {
  position: absolute;
  width: 171px;
  height: 410px;
  top: 8%;
  right: 10%;
  z-index: 2;
}

.mobile-hero__title {
  position: absolute;
  top: 30%;
  left: 5%;
  z-index: 3;
}

.hero__button_arrow {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 88%;
  left: 20%;
}

@media screen and (min-width: 1200px) {
  .hero__button_arrow {
    top: 88%;
  }
}

.hero__text {
  width: 114px;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  color: var(--primary-white-color);
  position: absolute;
  top: 67%;
  left: 22%;
}

@media screen and (min-width: 1200px) {
  .hero__text {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
    top: 73%;
    left: 20%;
  }
}

.hero__ellipse {
  position: absolute;
  top: -16%;
  left: 41%;
}

@media screen and (min-width: 1200px) {
  .hero__ellipse {
    top: -6%;
    left: 33%;
  }
}

.hero__pictute_ice {
  position: absolute;
  width: 143px;
  height: 336px;
  top: -12%;
  left: 50%;
}

@media screen and (min-width: 1200px) {
  .hero__pictute_ice {
    width: 236px;
    height: 557px;
    top: 3%;
    left: 45%;
  }
}

.hero__pictute_girl {
  position: absolute;
  width: 168px;
  height: 133px;
  left: 75%;
  top: 56%;
}

@media screen and (min-width: 1200px) {
  .hero__pictute_girl {
    width: 293px;
    height: 232px;
    left: 67%;
    top: 60%;
  }
}

.hero__pictute_number {
  position: absolute;
  width: 43px;
  height: 44px;
  top: 2%;
  left: 90%;
}

.hero__pictute_number-two {
  position: absolute;
  width: 51px;
  height: 43px;
  top: 20%;
  left: 89%;
}

.hero-title_size {
  position: absolute;
  top: 3%;
}

@media screen and (min-width: 1200px) {
  .hero-title_size {
    top: 15%;
    left: 5%;
  }
}

.hero-box {
  position: absolute;
  top: 40%;
}

@media screen and (min-width: 1200px) {
  .hero-box {
    top: 50%;
    left: 5%;
  }
}

.hero__pictute_milK {
  position: absolute;
  width: 124px;
  height: 126px;
  top: 55%;
}

@media screen and (min-width: 1200px) {
  .hero__pictute_milK {
    width: 188px;
    height: 191px;
    top: 60%;
  }
}

.products__container {
  padding-top: 121px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 98px;
}

@media screen and (min-width: 768px) {
  .products__container {
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1200px) {
  .products__container {
    padding-top: 127px;
    padding-left: 113px;
    padding-right: 113px;
    padding-bottom: 119px;
  }
}

.products__title_part {
  text-align: center;
  color: var(--accent-color);
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .products__title_part {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .products__title_part {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.06em;
  }
}

.products__title {
  text-align: center;
  color: var(--title-text-color);
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  text-transform: uppercase;
  margin-bottom: 144px;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 152px;
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 259px;
  }
}

.products__title_deskription {
  color: var(--primary-white-color);
  font-family: Titan One, sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  padding-top: 148px;
}

@media screen and (min-width: 768px) {
  .products__title_deskription {
    padding-top: 100px;
    font-size: 30px;
    line-height: 1.13;
  }
}

#ellipse {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
}

.products__text {
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: var(--primary-white-color);
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .products__text {
    padding-left: 11px;
    padding-right: 11px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1200px) {
  .products__text {
    padding-left: 44px;
    padding-right: 44px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.products__button {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .products__list {
    display: flex;
  }
}

.products__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  margin-bottom: 128px;
}

.products__item:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .products__item {
    width: 220px;
    margin-bottom: 0px;
    margin-right: 20px;
  }
  .products__item:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .products__item {
    width: 329px;
    height: 525px;
    margin-right: 24px;
  }
  .products__item:last-child {
    margin-right: 0px;
  }
}

.products__item_pink {
  background-color: #FFB8CA;
}

.products__item_hell {
  background-color: #F0D1A5;
}

.products__item_green {
  background-color: #C2E297;
}

.products__picture {
  position: absolute;
  top: -23%;
  left: 7%;
}

@media screen and (min-width: 1200px) {
  .products__picture {
    top: -30%;
    left: 11%;
  }
}

.products__tumb {
  display: flex;
  justify-content: center;
}

.products__tumb_part {
  margin-right: 4px;
}

.products__tumb_part:last-child {
  margin-right: 0px;
}

.technologies__container {
  position: relative;
  background-color: #FFF5F6;
  padding-top: 125px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 145px;
}

@media screen and (min-width: 768px) {
  .technologies__container {
    padding-top: 130px;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 246px;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__container {
    padding-top: 125px;
  }
}

.technologies__title {
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .technologies__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__title {
    margin-bottom: 55px;
  }
}

.technologies__text {
  max-height: 79px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .technologies__text {
    max-width: 340px;
    font-size: 14px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__text {
    max-width: 463px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.technologies__text_part {
  max-height: 155px;
  margin-top: 47px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 47px;
}

@media screen and (min-width: 768px) {
  .technologies__text_part {
    max-width: 340px;
    font-size: 14px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__text_part {
    max-width: 463px;
    line-height: 1.9;
  }
}

.technologies__button {
  min-width: 176px;
  min-height: 44px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .technologies__button {
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .technologies__button {
    font-size: 16px;
  }
}

.technologies__list {
  margin-top: 39px;
}

@media screen and (min-width: 768px) {
  .technologies__list {
    display: flex;
    justify-content: space-around;
  }
}

.technologies__item {
  margin-bottom: 38px;
}

.technologies__item:last-child {
  margin-bottom: 0px;
}

.technologies__text_number {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .technologies__text_number {
    font-size: 48px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__text_number {
    font-size: 58px;
    line-height: 1.14;
  }
}

.technologies__text_deskription {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--primary-text-color);
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .technologies__text_deskription {
    width: 180px;
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__text_deskription {
    width: 330px;
    font-size: 16px;
    line-height: 1.75;
  }
}

.technologies__pictures {
  width: 320px;
  height: 122px;
  position: absolute;
  top: 95%;
  right: 0%;
}

@media screen and (min-width: 768px) {
  .technologies__pictures {
    width: 768px;
    height: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__pictures {
    width: 1200px;
    height: 430px;
  }
}

.technologies__pictute_cow {
  width: 280px;
  height: 279px;
}

@media screen and (min-width: 768px) {
  .technologies__pictute_cow {
    width: 340px;
    height: 339px;
  }
}

@media screen and (min-width: 1200px) {
  .technologies__pictute_cow {
    width: 516px;
    height: 516px;
  }
}

@media screen and (min-width: 768px) {
  .technologies__box {
    display: flex;
    justify-content: space-between;
  }
}

.comments__container {
  padding-top: 154px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 170px;
}

@media screen and (min-width: 768px) {
  .comments__container {
    padding-top: 279px;
    padding-left: 74px;
    padding-right: 74px;
    margin-bottom: 119px;
  }
}

@media screen and (min-width: 1200px) {
  .comments__container {
    padding-top: 382px;
    padding-left: 177px;
    padding-right: 177px;
    margin-bottom: 132px;
  }
}

#circle-comments {
  width: 4px;
  height: 4px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #C7133E;
}

#circle-ellipse {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #D9D9D9;
}

.comments_text {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.6;
  color: #000000;
  background-color: #FAFAFA;
  padding-top: 32px;
  padding-right: 68px;
  padding-left: 55px;
  padding-bottom: 37px;
  margin-bottom: 19px;
  text-align: center;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .comments_text {
    font-size: 14px;
    line-height: 2.14;
    text-align: center;
    padding-top: 47px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom: 34px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .comments_text {
    font-size: 16px;
    line-height: 1.9;
    padding-top: 47px;
    padding-right: 87px;
    padding-left: 89px;
    padding-bottom: 39px;
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .comments__text_mob {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .comments__text_tab {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .comments__text_tab {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .comments__text_des {
    display: none;
  }
}

.comments__icon {
  position: absolute;
  top: 5%;
  left: 20%;
  z-index: -1;
}

@media screen and (min-width: 767px) {
  .comments__icon {
    left: 7%;
    top: 17%;
  }
}

.comments__box {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

@media screen and (min-width: 767px) {
  .comments__box {
    margin-bottom: 15px;
  }
}

.comments__item {
  margin-right: 10px;
}

.comments__item:last-child {
  margin-right: 0px;
}

.comments__text_people {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
  .comments__text_people {
    font-size: 16px;
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .comments__text_people {
    font-size: 20px;
    line-height: 1.85;
  }
}

.comments__tumb {
  display: flex;
  justify-content: center;
}

.comments__tumb_part {
  margin-right: 18px;
}

.comments__tumb_part:last-child {
  margin-right: 0px;
}

.comments__picture {
  position: relative;
  margin-bottom: 80px;
}

@media screen and (min-width: 767px) {
  .comments__picture {
    height: 85px;
    margin-bottom: 40px;
    margin-top: 121px;
  }
}

@media screen and (min-width: 1200px) {
  .comments__picture {
    margin-top: 123px;
    margin-bottom: 30px;
  }
}

.comments__picture_girl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.comments__after::after {
  content: "";
  border: 1px solid #E1E1E1;
  width: 100%;
  display: block;
  background: #E5E5E5;
}
/*# sourceMappingURL=main.css.map */