// .footer__container {
//     position: relative;
//     padding-top: 113px;
//     padding-left: 22px;
// }

.footer__title {
    width: 232px;
    min-height: 42px;
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 17px;
    margin-top: 113px;
}


.footer__title_part {
    width: 200px; 
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-transform: uppercase;
    color: var(--accent-color);
}