.technologies__title {
    margin-bottom: 26px;
    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 55px;
    }
}

.technologies__text {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.8;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.75;  
    }
}

.technologies__text_part {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: var(--text-color);
    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.8;
    }
    @media screen and (min-width: 1200px) {
        line-height: 1.9;
    }
}